.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 2px solid black;
}

.header-logo imb{
    width: 120px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bth-login,
.bth-signup {
    background-color: white;    
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
}

.profile_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid black;
    list-style: none;
    padding: 10px;
    display: none;
}

.profile-dropdown:hover .dropdown-menu {
    display: block;
}